.message {
	max-width: 400px;
	box-sizing: border-box;
	align-self: flex-start;
	background: #182533;
	font: 400 13px/18px 'Roboto';
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	margin: 3px 0;
	word-break: break-word;
	position: relative;
}

.message:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #182533;
	border-left: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-left: -11px;
}

.message strong {
	text-transform: uppercase;
}

.message:first-child {
	margin: 0 0 3px 0;
}

.message-is--robot {
	align-self: flex-end;
	background: #f1f1f1;
	color: #182533;
}

.message.message-is--robot:after {
	content: '';
	position: absolute;
	right: 0;
	left: unset;
	bottom: 0;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #f1f1f1;
	border-right: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-right: -11px;
}