body {
    background: #ebebec;
    height: 100vh;
    /*min-height: 100vh;*/
}

/*Scroll*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    width: 4em;
    background-color: #aaa;
    /*border-radius: 1rem;*/
}

#root {
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center !important;
    display: flex;
}

.App {
    box-shadow: 0 0 10px 0 #555;
    border-radius: 10px;
    padding: 5px;
}

.ContactTab {
    background: #b39f1e;
    /*height: 600px;*/
    /*height: 100%;*/

}

.MessageTab {
    background: #1eb3b3;
    /*height: 600px;*/
    /*height: 100%;*/
}

.ContactGroup{
    background: #18955f;
    overflow-y: scroll;
    padding: 10px;
    /*margin: auto 0px;*/
    height: 100%;
}

.MessageGroup {
    background: #0c4947;
    overflow-y: scroll;
    padding: 10px;
    /*margin: auto 0px;*/
    height: 100%;
    background-image: url("../public/background_1.png");
    background-repeat: repeat;
}

.InputBlock {
    background: #751eb3;
}

.MessageTabHead {
    background: #b31e9a;

}





/*Others */
.rounded-circle {
    border-radius: 50% !important;
    background: #b31e34;
    font-size: 24px;
    text-shadow: 1px 1px 3px #555;
    color: white;
    height: 48px;
    width: 48px;
    padding: 4px 2px 0 0;
    text-align: center;
    vertical-align: middle;

}


.text-shadow-w {
    text-shadow: 1px 0px 1px #000,
    -1px 0px 3px #000;
}

.text-shadow-g {
    text-shadow: 1px 0px 2px #fff,
    -1px 0px 2px #fff,
    3px 0px 8px #333,
    -3px 0px 8px #333;
}


/*Media width*/
/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    .ContactTab, .MessageTab {
        min-height: 400px;
        height: 80vh;
    }

}

/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1200px) {
    .ContactTab, .MessageTab {
        min-height: 400px;
        height: 80vh;
    }

}
/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 768px) {
    .ContactTab, .MessageTab, .App {
        height: 100%;
    }

    .App {
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }
}
/*Экстрамалые девайсы («телефоны», < 576px)*/
/*@media (max-width: 575.98px) {*/
/*    .ContactTab, .MessageTab {*/
/*        height: 100%;*/
/*    }*/
/*}*/

