body {
    background-color: cadetblue;
}

button {
    background-color: rgba(250, 250, 250, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.container {
    display: flex;
    width: 100%;
}

.chat {
    width: 50%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 10px;
    border: solid cadetblue 2px;
    border-radius: 10px;
}

.messageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.botMessage, .userMessage {
    border-radius: 5px;
    padding: 5px;
    min-width: 50px;
    width: 40%;
    margin: 5px;
}

.botMessage {
    background-color: #C5E1A5;
    text-align: left;
}

.userMessage {
    background-color: #B2DFDB;
    text-align: right;
    align-self: flex-end;
}

.chatList {
    width: 20%;
    background-color: #EEEEEE;
    border-radius: 10px;
    position: fixed;
}

.messageForm {
    width: 70%;
    margin-left: 25%;
}

.loginInput, .messageInput {
    margin: 50px;
    width: 60%;
}


