.message {
    align-self: flex-end;
    list-style: none;
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 10px;
    width: 40%;
}

.message--is-robot {
    align-self: flex-start;
}

.message:not(:last-child) {
    margin-bottom: 10px;
}