.message-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.message{
    padding: 15px;
    margin: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
    width: 60%;
    align-self: flex-start;
}
.my-msg{
    border-color: lightgreen;
    align-self: flex-end;


}
.robots-msg{
    border-color: pink;
    
}
.robots-api-msg{
    border-color:burlywood;
}