* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#root {
	display: flex;
	align-items: flex-end;
}

main {
	width: 100%;
	background: #0e1621;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

h2.chats-error {
	padding: 20px;
	font: 700 30px Roboto;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: auto;
}

.chat-app {
	width: calc(100vw - 270px);
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
}