.header {
	width: 100%;
	height: 50px;
	background: #17212b;
	border-bottom: 1px solid #0a121b;
	box-sizing: border-box;
	display: flex;
}

.header-left {
	width: 270px;
	height: 100%;
	border-right: 1px solid #0a121b;
	padding: 5px 15px;
	box-sizing: border-box;
}

.header-right {
	width: calc(100vw - 270px);
	height: 100%;
	padding: 5px 15px;
	box-sizing: border-box;
	display: flex;
}

.header-profile {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
}

.header-profile a {
	font: 400 15px Roboto;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 0 40px;
	/*background: url('icon/profile.svg') no-repeat left center;*/
}