.chat-field {
   display: flex;
   flex-direction: row;
   
}
.chat {
   flex-grow: 1;
}
.chat-list {
   list-style-type: none;
   padding: 0 15px;
   
   flex-grow: 0.5;
}
.chat-name {
   border: 1px solid gray;
   border-radius: 10px;
   padding: 15px;
   margin-bottom: 5px;
}
.chat-name:hover {
   background-color: lightgray;
   cursor: pointer;
}