.chat-form {
	width: 100%;
	background: #17212b;
	padding: 11px 15px;
	box-sizing: border-box;
	flex-grow: 1;
	border-top: 1px solid #0a121b;
}

.input-name,
.input-content {
	min-height: 30px;
}

.input-name {
	width: 150px;
	margin-right: 7px !important;
}

.input-content {
	width: calc(100% - 150px - 50px - 7px);
	margin-right: 12px !important;
}

.input-name label,
.input-content label {
	line-height: 0;
}

.input-name input,
.input-content .MuiOutlinedInput-multiline {
	padding: 8px;
	color: #fff;
	font: 300 13px 'Roboto';
}

.input-content textarea {
	max-height: 100px;
	overflow-y: auto !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #2094e6 !important;
	border-width: 1px !important;
}

.MuiFormLabel-root.Mui-focused {
	color: #2094e6 !important;
}

.MuiIconButton-root {
	padding: 1px !important;
}

.MuiSvgIcon-root {
	font-size: 1.8rem !important;
	color: #2094e6 !important;
}

.MuiIconButton-root:hover {
	background: unset !important;
}

.MuiOutlinedInput-notchedOutline {
	border-color: #2094e6 !important;
}

.MuiInputLabel-outlined {
	transform: translate(10px, 16px) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
	transform: translate(16px, 0px) scale(0.75) !important;
}

.MuiFormLabel-root {
	color: #2094e6 !important;
	font-size: 13px !important;
}