body {
    margin: 0 auto;
}

main {
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color: blueviolet;
    /* max-height: 50px; */
    box-sizing: border-box;
}

.header__title{
    color: #fff;
}

.container{
    display: flex;
    width: 100%;
    max-width: 70%;
    height: 85vh;
    align-items: center;
    flex-direction: column;
}

.chat-list{
    width: 100%;
    max-width: 30%;
}

.message-list {
    margin: 0 0 1rem 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    list-style: none;
    padding: 1rem 2rem;
    background-color: #e2e2e2;
    box-sizing: border-box;
    overflow-y: scroll;

}

.message{
    background-color: lightblue;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin: .5rem;

}

.message__action{
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    box-sizing: border-box;

}

.button {
    background-color: transparent;
    padding: .5rem 1rem;
    margin: 0 0 1rem 0;
    border: 1px solid aqua;
    outline: none;
    border: 1px solid blueviolet;
    border-radius: 5px;
    transition: opacity .3s ease-in-out,
                color .3s ease-in-out,
                background-color .3s ease-in-out;

}

.button:hover{
    background-color: aqua;
    color: #000
}

.button:active{
    opacity: .67;
}