.header {
  height: 40px;
  width: 100%;
  color: burlywood;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item,
.menu-item:hover,
.menu-item:active {
  text-decoration: none;
  margin: 0;
  padding: 0 20px;
}

.menu-item {
  
}